# Backend API URL
VITE_API_URL=http://localhost:3000/api

# For Docker environment, use:
# VITE_API_URL=http://endux_backend:3000/api

VITE_SUPABASE_URL="https://cdbzohilmtqoqhxiwhrh.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkYnpvaGlsbXRxb3FoeGl3aHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NjI3MzcsImV4cCI6MjA5MzAzODczN30.1ZbAKWda3qf6704S5qHZjs60cHScwFzmIwyVz4femas" # Canan'ın attığı uzun şifresiz anahtar