# Ekip Arkadaşım: Bu dosyayı kopyala, adını .env yap ve kendi şifrelerini/bilgilerini doldur.

# Docker İçin PostgreSQL Ayarları
POSTGRES_USER=endux_admin
POSTGRES_PASSWORD=q1w2e3
POSTGRES_DB=endux_db

# Prisma ve Node.js İçin Veritabanı Bağlantı Linki
# Format: postgresql://KULLANICI:ŞİFRE@localhost:5432/VERİTABANI_ADI?schema=public
DATABASE_URL="postgresql://postgres.cdbzohilmtqoqhxiwhrh:Canan.q1w2e365@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.cdbzohilmtqoqhxiwhrh:Canan.q1w2e365@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

AI_SERVICE_URL=http://endux_ai:8000


SUPABASE_URL="https://cdbzohilmtqoqhxiwhrh.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkYnpvaGlsbXRxb3FoeGl3aHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NjI3MzcsImV4cCI6MjA5MzAzODczN30.1ZbAKWda3qf6704S5qHZjs60cHScwFzmIwyVz4femas"
# Sunucu Ayarları
PORT=3000
JWT_SECRET=endux_jwt
JWT_EXPIRES_IN=7d